@charset "UTF-8";

:root{
    --bg-primary-color: rgb(119, 150, 150);
    --bg-second-color: #033327;
}

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    box-sizing: border-box;
}

body, html{
    background-color: var(--bg-primary-color);
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 530px;
    border-radius: 1.5em;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
#login #imagem{
    display: block;
    background: var(--bg-primary-color) url(../imagens/pattern-exer-login.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;   
}

#login #formulario{
    display: block;
    padding: .5em;

}
#formulario h1{
    text-align: center;
    margin-bottom: .8em;
}
#formulario p{
    font-size: .8em;
}
.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: .5em;
    margin: .5em 0;
}
form label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--bg-second-color);
    color: white;
    border:none;
    border-radius: .5em;
    cursor: pointer;
}
form input[type=submit]:hover{
    background-color:  #05684f;
       
}
form .botao{
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #1d9174;
    border-radius: .5em;
    color: #05684f;
    padding: .5em;
    margin-top: .5em;
}
form .botao:hover{
    background-color: var(--bg-primary-color);
}
.botao i{
    font-size: .8em;
}
.campo{
    margin-bottom: .5em;
}